
body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
Button{
  background-color: #f709df;
  color: black;
}
.container{
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.container h2 {
  color: #d605c1;
  text-align: center;
  margin: 30px;
  font-family: "Arial Narrow Bold", sans-serif;
  letter-spacing: 5px;
}
.container h2::before,
.container h2::after {
  content: "-----";
  letter-spacing: -5px;
  font-weight: lighter;
  margin: 0 20px 0 10px;
}
.container .row{
  display:flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.container .column{
  width: 32%;
  height: auto;
  position: relative;
  overflow:hidden;
}
.container .column img{
 border-radius: 2rem;
 width: 100%;
 height: 100%;
}
.container .column a:last-child{
 
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
  top: 99%;
  bottom: 0;
  left: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: #d917f3df;
  text-align: center;
  padding-top: 14vw;
  color:black
}
.container .column:hover a:last-child{
  height: 100%;
  top: 0;
}
@media (max-width= 200px) {
  .container .row {
    flex-direction: column;
  }
  .container .column {
    width: 10%;
  }
  .container .column a:last-child {
    line-height: 6000vw;
    font-size: 6vw;
  }
}
