/* Apply box-sizing to include padding and border in the element's total width */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Styling for the navigation bar */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Styling for the container within the navigation bar */
.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Styling for the logo within the navigation bar */
#navbar_logo {
  background: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* Styling for the menu items within the navigation bar */
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Styling for individual items within the menu */
.navbar_item {
  height: 80px;
}

/* Styling for links within the navigation bar */
.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

/* Hover effect on links within the navigation bar */
.navbar_links:hover {
  color: #8d0354;
  transition: all 0.3s ease;
  text-decoration: none;
}
/* Styling for the hero section */
.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

/* Styling for the container within the hero section */
.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

/* Styling for the main heading within the hero section */
.hero_heading {
  font-size: 150px;
  margin-bottom: 24px;
  color: #fff;
}

/* Styling for the span within the main heading for gradient effect */
.hero_heading span {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Styling for the description within the hero section */
.hero_description {
  font-size: 60px;
  background: #da22ff;
  margin-bottom: 15rem;
  background: -webkit-linear-gradient(to right, #9114ff, #ee0979);
  background: linear-gradient(to right, #9114ff, #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Styling for a highlight effect with a purple underline */
.highlight {
  border-bottom: 4px solid rgb(132, 0, 225);
}

/*Pics*/
photos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  background: #000000;
  padding: 5 rem;
}

.pic_container {
  max-width: 1200px;
  width: 95%;
  padding: 10rem 0;
}
/* Wrapper for the slider */
.slider-wrapper {
  position: relative;
}

/* Styling for the slider buttons */
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  background: white;
  border: none;
  outline: none;
  font-size: 2.2rem;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* Hover effect for slider buttons */
.slider-wrapper .slide-button:hover {
  background: pink;
}

/* Styling for the previous slide button */
.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}

/* Styling for the next slide button */
.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

/* Container for the photo list */
.slider-wrapper .photo-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

/* Hide scrollbar for WebKit browsers */
.slider-wrapper .photo-list::-webkit-scrollbar {
  display: none;
}

/* Styling for individual images in the photo list */
.slider-wrapper .photo-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

/* Container for the slider scrollbar */
.pic_container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Styling for the scrollbar track */
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

/* Hover effect for scrollbar track */
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

/* Styling for the scrollbar thumb */
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

/* Styling for the scrollbar thumb pseudo-element */
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -10px;
  bottom: -10px;
}
 /* Profile Section */

 #profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 50vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  text-align: center;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/*Icon*/

.icon {
  cursor: pointer;
  height: 3rem;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: black 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(240, 185, 233);
  color:black;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(240, 185, 233) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* Container for the footer */
footer{
  height:7vh
}
.footer_container {
  width: 100%;
  margin:auto;
  padding: 50px 30px;
  background-color: white;
}

/* Styling for social icons */
.social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for social icon links */
.social_icon a {
  text-decoration: none;
  padding: 10px;
  background-color: black;
  margin: 10px;
  border-radius: 50%;
}

/* Styling for social icon symbols */
.social_icon a i {
  font-size: 2rem;
  color: white;
  opacity: 0.9;
}

/* Hover effect for social icons */
.social_icon a:hover {
  background-color: white;
  transition: 0.5s;
}

/* Hover effect for social icon symbols */
.social_icon a:hover i {
  color: black;
  transition: 0.5s;
}

/* Styling for text in the footer */
.text p {
  justify-content: center;
  align-items: center;
  color: #00dbde;
  text-align: center;
  background-image: linear-gradient(to top, #631226 0%, #c6d313 100%);
  display: flex;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 10px;
  font-size: 2.5rem;
  margin: 10px;
}
